*__pycache__*
**.DS_Store
encoded_latents/
*.mp4
uv.lock
.venv/
autoregressive_diffusion.egg-info/
# .vscode/
aws/
pretrained_ckpts/
log/
temp_images/
images_training/
counter_strike/
saved_models/
*.pkl
.torchinductor_cache
streaming_dataset